<h1>Welcome <%= @user.first_name %></h1>
 All my Clients<br>
 <a href="/clients/1">View Client 1</a>
 <a href="/clients/1/edit">Edit Client 1</a><br>

  Client 1 Contacts<br>
  <a href="/contacts/1">View Contact</a>
  <br>

  <%= link_to "Log Out", logout_path, method: :delete %>

  <br><br>
